[Unit]
Description=LXC network bridge setup
After=network-online.target
Before=lxc.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/odm/libexec/lxc/lxc-net start
ExecStop=/odm/libexec/lxc/lxc-net stop

[Install]
WantedBy=multi-user.target
